html {
    font-size: 120%;
    font-family: "Helvetica", "Verdana", sans-serif;
}

body {
    margin: 20px;
}

body, p, label, input, button, output {
    color: #333;
    font-size: 1rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

pre {
    font-size: .9rem;
    border: 1px solid #333;
    padding: 20px;
}

ul {
    padding: 0;
    list-style: none;
}

label {
    display: block;
    margin: 10px 0 5px 0;
}

input[type=text], output {
    width: 100%;
    padding: 5px;
    border: 1px solid #333;
}

output {
    background-color: #ccc;
}

button {
    margin-top: 10px;
    padding: 5px;
}

.content {
    margin: 0 auto;
    max-width: 960px;
}

.error {
    color: #c66;
}
